<footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="icon-social bi bi-twitter"></i>
      <i class="icon-social bi bi-facebook"></i>
      <i class="icon-social bi bi-instagram"></i>
      <i class="icon-social bi bi-envelope"></i>
      <p class="copyright">Made with ❤️ by Harsh & Team</p>
    </div>
</footer>

</body>
</html>
