<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css" />
    <script src="/editProduct.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
    rel="icon"
    href="https://img.freepik.com/free-vector/shopping-cart-supermarket-logo-template_23-2148470295.jpg?w=740&t=st=1681566941~exp=1681567541~hmac=b52b3c7a3a4e159ac793752e10ad2c8831b2be8245b427e0ce503665fabcf459"
    type="image/x-icon"
  />
  </head>
  <body>