/* Navigation Bar */
.navbar {
  padding-top: 1.5%;
  background-color: #000;
  font-weight: 500;
  vertical-align: middle;
}

.navbar-brand {
  margin-right: 42%;
}

#navbarToggler {
  margin-left: 20%;
}

.navigation-heading {
  font-family: "Poppins";
  font-weight: bold;
}

.nav-item {
  width: 110px;
  text-align: center;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 500;
}

.dropbtn {
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.copyright {
  padding-top: 20px;
  text-align: center;
}